    <h1>Sign Up</h1>
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
    <div>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <p>Username</p>
        <input type="text" name="username" /><br>
        <p>Email</p>
        <input type="email" name="email" /><br>
        <p>Password</p>
        <input type="password" name="password" /><br>
        <p>Repeat Password</p>
        <input type="password" name="password2" /><br>
        <input type="submit">
        </form>
    </div>
